.focused {
    transform: translateY(calc(100% / 2 + .75rem));
    position: relative;
    z-index: 50;
    @apply text-slate-500 text-sm after:absolute after:-z-10 after:bg-white after:w-full after:h-full after:right-1/2 after:translate-x-1/2 after:px-1;
}

.lostFocus {
    transform: translateY(0);
    @apply text-slate-700 text-lg;
}