.focused {
    transform: translateY(calc(100% / 2 + .75rem));
    position: relative;
    z-index: 50;
    background: white;
    @apply text-slate-950 text-sm;
}

.lostFocus {
    transform: translateY(0);
    background: transparent;
    @apply text-slate-500 text-lg;
}