@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 100vw;
  * {
    max-width: 100%;
    @apply box-border;
  }
}

.app-height {
  height: calc(100vh - 2rem);
  height: calc(100svh - 2rem);

  &.with-footer {
    height: calc(100vh - 6rem);
    height: calc(100svh - 6rem);

  }

  @media (min-width: 768px) {
    height: calc(100vh - 4rem);
    height: calc(100svh - 4rem);

    &.with-footer {
      height: calc(100vh - 8rem);
      height: calc(100svh - 8rem);

    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: none;
  // -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
  transition: background-color 5000s ease-in-out 0s;
}